In [1]:
# import library

import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("heart.csv")
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [3]:
dx = df[['sex', 'target']].dropna()
dx.sex = df.sex.map({1:'Male', 0:'Female'})
dx

         sex  target
0       Male       0
1       Male       0
2       Male       0
3       Male       0
4     Female       0
...      ...     ...
1020    Male       1
1021    Male       0
1022    Male       0
1023  Female       1
1024    Male       0

[1025 rows x 2 columns]

In [4]:
pd.crosstab(dx.target, dx.sex)

sex     Female  Male
target
0           86   413
1          226   300

In [6]:
n = 86 + 226
p_fm = 226 / n
p_fm

0.7243589743589743

In [7]:
# standard error

se_female = np.sqrt(p_fm * (1-p_fm) / n)
se_female

0.02529714756803247

In [19]:
z = 1.96

# lower bound
lb = p_fm - z * se_female 

#upper bound
ub = p_fm + z * se_female 

print(lb, ub)

0.6747765651256307 0.773941383592318

### CI with Mean

In [10]:
df.groupby("sex").agg({'chol' : [np.mean, np.std, np.size]})

           chol
           mean        std size
sex
0    261.455128  64.466781  312
1    239.237027  43.155535  713

In [14]:
mean_fe = 261.455128
std_fe = 64.466781
n = 312
z = 1.96

In [15]:
se = std_fe / np.sqrt(n)

In [17]:
# lower bound
lb = mean_fe - z * se

# upper bound
ub = mean_fe + z * se

print(lb, ub)

254.30169095203016 268.6085650479699

### Hypotesis Testing

In [21]:
df = pd.read_csv("https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/nhanes_2015_2016.csv")
df.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,...,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,...,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,...,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,...,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

In [23]:
male = df[df['RIAGENDR'] == 1]
female = df[df['RIAGENDR'] == 2]

In [24]:
nf = len(female)
muf = female.BMXBMI.mean()
stf = female.BMXBMI.std()

(nf, muf, stf)

(2976, 29.939945652173996, 7.75331880954568)

In [26]:
nm = len(male)
mum = male.BMXBMI.mean()
stm = male.BMXBMI.std()

(nm, mum, stm)

(2759, 28.778072111846985, 6.252567616801485)

In [28]:
import statsmodels.api as sm

sm.stats.ztest(female.BMXBMI.dropna(),
               male.BMXBMI.dropna(),
               alternative='two-sided')

(6.1755933531383205, 6.591544431126401e-10)